/**{
  border:1px dashed blue;
}*/

body{
  background-color: #28d0c3 !important;


  box-sizing: border-box;
  padding-top:20px;
}
header{
  text-align:center;
  color:white;
}

.container{
  margin-top:10vh;
}

#cup{
/*border-right: 2px solid rgba(255, 255, 255, 0.75);*/

}
#selection{
margin-top:20px;
}
.pickTea{
font-size:120%;
font-weight: bold;
  color:white;
}
.myBtn{
  width:125px;
  height:125px;
  padding:15px;
  border-radius:50%;
  border:3px solid white;
  font-size:20px;
  color:white;
}

.green{
  background-color: #a9cc97;
}
.red{
  background-color: #cc4807;
}
.grey{
  background-color: #ac8f7d;
}
.ice{
  background-color:#62a2f2;
}
.sugar{
  background-color:#d89633;
}
.pickTea:hover{
  color:white !important;
}
.panel{
  background-color: #1a9e94 !important;
  border:1px solid #23b7ac !important;
}
.panel-heading{
  background-color: #1a9e94 !important;
  border:1px solid #23b7ac !important;

}
.panel-body{
  border-top:1px solid rgba(255,255,255,0.65) !important;
}
.ice-25{
visibility: hidden;
}
.ice-50{
visibility: hidden;
}
.honey-1{
  visibility: hidden;
}
.honey-2{
  visibility: hidden;
}

.order-info{
  color:white;
  font-size:125%;
  margin-bottom: 20px;
}
.order{
  text-align: center;
}
